@media only screen and (min-width: 620px) {
    body, *{
        padding: 0;
        border: 0;
        margin: 0;
        box-sizing: border-box;
        // background-color: #222;
    }
    main {
        .heading {
            nav {
                // position: relative;
                width: auto;
                height: 80px;
                border-bottom: 1px solid #000;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                // justify-content: space-between;

                img {
                    width: 36px;
                    height: 36px;
                    margin-left: 16px;
                }
                #input,.burger {
                    display: none;
                }
                .menu-container {
                    // right: 0;
                    top: 0;
                    display: flex;
                    width: auto;
                    align-items: center;
                    height: auto;
                    // background-color: brown;
                    position: relative;
                    margin-right: 23px;
                    .menu {
                        background-color: #fff;
                        height: 30px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-end;
                        
                        li {
                            margin: 0 20px;
                            &:hover {
                                background-color: firebrick;
                            }
                        }
                    }
                }
            }

        }
        .intro {
            display: flex;
            flex-direction: column;
            // width: 50vw;
            margin-left: 10vw;
            margin-top: 100px;
            // background-color: #542;
            .title {
                span {
                    display: inline;
                    // background-color: floralwhite;
                }
                // background-color: firebrick;
            }
            p {
                width: 628px;
            }
            .button {
                margin-top: 4em;
                position: relative;
                height: 56px;
                width: 226px;
            }
        }
        .episodes {
            position: relative;
            width: auto;
            height: 1042.6px;
            padding: 274px 100px 100px 100px;
            .episodes-background {
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 86%;
                position: absolute;
                background-color: blue;
                transform: skewY(-6deg);
                transform-origin: top right;
                z-index: -2;
            }
            .episodes-container{
                height: 80%;
                width: 100%;
                // background-color: gray;
                z-index: 3;
                position: relative;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }
        }
        .de-deonde-venimos {
            display: grid;
            background-color: #123;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 200px;
            width: 100%;
            // height: fit-content;
            height: 300px;
            // background-color: violet;
            .c1 {
                height: fit-content;
                img {
                    bottom: 0;
                    width: 100%;
                    transform: translateY(-180px);
                }
                // background-color: wheat;
            }
            .c2 {
                padding-top: 30%;
                // background-color: tomato;
            }
        }
    }
}