@media only screen and (min-width: 620px) {
    body, *{
        padding: 0;
        border: 0;
        margin: 0;
        box-sizing: border-box;
        // background-color: #222;
    }
    // main {
        .heading {
            nav {
                // position: relative;
                width: auto;
                height: 80px;
                border-bottom: 1px solid #000;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                // justify-content: space-between;

                img {
                    width: 36px;
                    height: 36px;
                }
                label, input {
                    display: none;
                }
                .menu-container {
                    background-color: red;
                    .menu {
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    }
                }
            }

        }
        .intro {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            p {
                width: 628px;
            }
            .button {
                height: 56px;
                width: 226px;
            }
        }
        #episodios {
            transform-origin: top right;
            background-color: blue;
            transform: skewY(-6deg);
            padding: 30vh 0;
            z-index: 0;
            .episodios-container {
                transform: skewY(6deg);
                background-color: yellow;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            grid-template-rows: .2fr repeat(2, 1fr);
            .title {
                grid-area: 1/1/2/3;
            }
            }
            // .title, iframe {
            //     transform: skewY(6deg);
            // }
        }
        .de-deonde-venimos {
            background-color: yellow;
            img {
                z-index: 1;
            }
        }
    // }
}