@media screen and (max-width: 620px) {
@import "fonts";
@import "components";
body, *{
    // width: auto;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    line-height: 1.5em;
}
// h1, h2, p, button {
//     padding: 1.5em 0;
// }
// main {
    .heading {
        nav {
            width: auto;
            height: 44px;
            border-bottom: 1px solid #000;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 0 2vw;
            // img {
            //     margin-left: 16px;
            // }
            // .burger {
                
            //     margin-right: 25px;
            // }
            .menu-container {
                display: none;
                top: 44px;
                left: 0;
                width: 100%;
                height: 224px;
                position: absolute;
                .menu {
                    display: grid;
                    grid-template-rows: repeat(4, 1fr);
                    align-items: center;
                    list-style: none;
                    width: 100%;
                    height: 224px;
                    background-color: blue;
                    li {
                        a {
                            text-decoration: none;
                            font-family: $menu-item;
                            font-size: 16px;
                            color: #fff;
                            text-transform: uppercase;
                            padding-left: 2vw;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            #input:checked~.menu-container {
                display: block;
            }
            #input {
                display: none;
            }
        }

    }
    .intro {
        padding: 5vh 2vw;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        .title {
            font-family: $headings;
            font-size: 36px;
            // background-color: firebrick;
            span {
                display: block;
                // background-color: floralwhite;
            }
        }
        p {
            font-family: $menu-item;
            font-size: 14px;
            display: inline-block;
        }
        .button {
            position: relative;
            width: 100%;
            height: 48px;
            @include button-styling;
        }
    }
    #episodios {
        width: 100%;
        // height: 1400px;
        background-image: linear-gradient(#0000FF, #0000A3);
        padding: 20vh 2vw;
        transform: skewY(-6deg);
        transform-origin: top right;
        .episodios-container {
            .title {
                font-family: $headings;
                font-size: 36px;
                color: #fff;
            }
            top: 0;
            display: grid;
            grid-template-rows: .3fr repeat(4, 1fr);
            position: relative;
            row-gap: 10vh;
        }
        .episodios-container {
            transform: skewY(6deg);
            width: 100%;
        }
    }
    .de-deonde-venimos {
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateY(-30px);
        padding: 0 2vw;
        justify-items: center;
        img {
            width: 100%;
        }
        h2 {
            font-family: $headings;
            font-size: 36px;
            span {
                display: block;
            }
        }
        p {
            font-family: $menu-item;
            font-size: 14px;
        }
    }
    #guests {
        display: flex;
        flex-flow: column;
        
        h2 {
            font-family: $headings;
            font-size: 36px;
            padding: 0 2vw;
            
            span {
                display: block;
            }
        }

        .guests-container {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            img {
                width: 100%;
            }
            // .gsize {
            //     background-color: red;
            //     width: 100%;
            //     height: 300px;
            // }
        }
    }
    #systems {
        margin: 5vh 0;
        padding: 0 2vw;
        text-align: center;
        // display: grid;
        // grid-template-rows: auto;
        h2 {
            text-align: left;
            font-family: $headings;
            font-size: 36px;
            span {
                display: block;
            }
        }
        h3 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 24px;
        }
        .systems-container {
            display: flex;
            flex-direction: column;
            justify-items: center;
            img {
                padding-top: 9vh;
            }
        }
    }
    #news {
        position: relative;
        display: flex;
        flex-direction: column;
        // justify-items: center;
        text-align: center;
        padding: 20vh 2vw;
        transform-origin: top right;
        overflow: hidden;
        // z-index: 1;
        .top-skewed-backgound {
            transform: skewY(-6deg);
            transform-origin: top right;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(#0000FF, #0000A3);

            position: absolute;
            z-index: -2;
        }
        h2 {
            font-family: $headings;
            color: #fff;
            font-size: 36px;
            padding: 9vh 0;
            span {
                display: block;
            }
        }
        button {
            height: 48px;
            @include button-styling;
        }
    }
    footer {
        height: 30vh;
        padding: 4vh 2vw;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        p {
            font-family: $menu-item;
            font-size: 14px;
        }
        .social-media {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }

// }   
}