@media only screen and (min-width: 768px) {
    @import "fonts";
    @import "components";
        .heading {
            nav {
                width: auto;
                height: 80px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                padding: 0 5vw;
                img {
                    width: 36px;
                    height: 36px;
                }
                label, input {
                    display: none;
                }
                    .menu {
                        list-style: none;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        justify-items: center;
                        li {
                            a {
                                font-family: $menu-item;
                                font-size: 16px;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                            &:hover{
                                a {
                                    text-decoration: line-through;
                                    color: #00F3BB;
                                }
                            }
                            &:active {
                                a {
                                    color: #060A24;
                                }
                            }
                        }
                    }
            }

        }
        .intro {
            padding: 0 10vw;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            .title {
                font-family: $headings;
                font-size: 64px;
            }
            p {
                font-family: $menu-item;
                font-size: 16px;
                width: 628px;
            }
            .button {
                @include button-styling;
                height: 56px;
                width: 226px;
            }
        }
        #episodios {
            transform-origin: top right;
            background-image: linear-gradient(225deg, #0000FF, #0000A3);
            transform: skewY(-6deg);
            padding: 30vh 0;
            .episodios-container {
                width: 100%;
                transform: skewY(6deg);
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: .5fr repeat(2, 1fr);
                align-items: stretch;
                padding: 0 5vw;
                gap: 4vw;
                .title {
                    padding-left: 5vw;
                    font-family: $headings;
                    font-size: 48px;
                    grid-area: 1/1/2/3;
                    color: #fff;
                }
                iframe {
                    width: 100%;
                    height: 252px;
                }
            }
        }
        #de-deonde-venimos {
            width: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            img {
                z-index: 1;
                width: 100%;
            }
            .texto {
                justify-content: center;
                row-gap: 2em;
                display: flex;
                flex-flow: column nowrap;
                line-height: 1.5em;

                h2 {
                    font-family: $headings;
                    font-size: 48px;
                    padding-bottom: 1em;
                    line-height: 2rem;
                }
                p {
                    font-family: $menu-item;
                    font-size: 16px;
                }
            }
        }
        #guests {
            display: flex;
            flex-direction: column;
            h2 {
                padding: 4vh 0 4vh 10vw;
                font-family: $headings;
                font-size: 48px;
            }
            .guests-container {
                width: 100%;
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                img {
                    width: 100%;
                }
            }
        }
        #systems {
            padding: 20vh 10vw;
            display: flex;
            flex-direction: column;
            h2 {
                font-family: $headings;
                font-size: 48px;
                padding-bottom: 10vh;
            }
            .systems-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                .system {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    justify-items: center;
                    align-items: center;
                    h3 {
                        font-family: $h3;
                        font-size: 24px;
                        display: inline;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
        #news {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            padding: 25vh 0;
            overflow: hidden;
            .top-skewed-backgound {
                transform-origin: top right;
                transform: skewY(-6deg);
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(225deg, #0000FF, #0000A3);
            }
            .news-container {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                justify-items: center;
                row-gap: 10vh;
                h2 {
                    font-family: $headings;
                    font-size: 48px;
                    color: #fff;
                }
                .button {
                    width: 345px;
                    height: 56px;
                    @include button-styling;
                }
            }
        }
        footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 4vh 5vw;
            a {
                padding: 0 1vw;
            }
        }
}