// @mixin sq {
//     // display: none;
//     position: absolute;
//     top: 44px;
//     width: 100%;
//     height: 300px;
//     background-color: blue;
// }
.square {
    display: none;
    width: 100%;
    height: 300px;
    background-color: blue;
}