@media screen and (max-width: 620px) {
  body, * {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  p {
    line-height: 1.5em;
  }
  .heading nav {
    width: auto;
    height: 44px;
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2vw;
  }
  .heading nav .menu-container {
    display: none;
    top: 44px;
    left: 0;
    width: 100%;
    height: 224px;
    position: absolute;
  }
  .heading nav .menu-container .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    width: 100%;
    height: 224px;
    background-color: blue;
  }
  .heading nav .menu-container .menu li a {
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading nav #input:checked ~ .menu-container {
    display: block;
  }
  .heading nav #input {
    display: none;
  }
  .intro {
    padding: 5vh 2vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
  }
  .intro .title span {
    display: block;
  }
  .intro p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    display: inline-block;
  }
  .intro .button {
    position: relative;
    width: 100%;
    height: 48px;
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-transform: uppercase;
  }
  .intro .button:hover {
    -webkit-transition: .2s;
    transition: .2s;
    background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
    background-image: linear-gradient(-90deg, #0000FE, #00F0B8);
    color: #fff;
  }
  #episodios {
    width: 100%;
    height: 1400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background-image: linear-gradient(#0000FF, #0000A3);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.2fr (1fr)[4];
        grid-template-rows: 0.2fr repeat(4, 1fr);
    padding: 9vh 2vw;
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  #episodios .title, #episodios iframe {
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    width: 100%;
    height: 100%;
  }
  #episodios .title {
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;
    font-size: 36px;
  }
  .de-deonde-venimos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    padding: 0 2vw;
    justify-items: center;
  }
  .de-deonde-venimos img {
    width: 100%;
  }
  .de-deonde-venimos h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
  }
  .de-deonde-venimos h2 span {
    display: block;
  }
  .de-deonde-venimos p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
  }
  #guests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #guests h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    padding: 0 2vw;
  }
  #guests h2 span {
    display: block;
  }
  #guests .guests-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  #guests .guests-container img {
    width: 100%;
  }
  #systems {
    margin: 5vh 0;
    padding: 0 2vw;
    text-align: center;
  }
  #systems h2 {
    text-align: left;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
  }
  #systems h2 span {
    display: block;
  }
  #systems h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
  }
  #systems .systems-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  #systems .systems-container img {
    padding-top: 9vh;
  }
  #news {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20vh 2vw;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    overflow: hidden;
  }
  #news .top-skewed-backgound {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background-image: linear-gradient(#0000FF, #0000A3);
    position: absolute;
    z-index: -2;
  }
  #news h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;
    font-size: 36px;
    padding: 9vh 0;
  }
  #news h2 span {
    display: block;
  }
  #news button {
    height: 48px;
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-transform: uppercase;
  }
  #news button:hover {
    -webkit-transition: .2s;
    transition: .2s;
    background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
    background-image: linear-gradient(-90deg, #0000FE, #00F0B8);
    color: #fff;
  }
  footer {
    height: 30vh;
    padding: 4vh 2vw;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
  }
  footer .social-media {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 620px) {
  body, * {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main .heading nav {
    width: auto;
    height: 80px;
    border-bottom: 1px solid #000;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .heading nav img {
    width: 36px;
    height: 36px;
    margin-left: 16px;
  }
  main .heading nav #input, main .heading nav .burger {
    display: none;
  }
  main .heading nav .menu-container {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    position: relative;
    margin-right: 23px;
  }
  main .heading nav .menu-container .menu {
    background-color: #fff;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main .heading nav .menu-container .menu li {
    margin: 0 20px;
  }
  main .heading nav .menu-container .menu li:hover {
    background-color: firebrick;
  }
  main .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10vw;
    margin-top: 100px;
  }
  main .intro .title span {
    display: inline;
  }
  main .intro p {
    width: 628px;
  }
  main .intro .button {
    margin-top: 4em;
    position: relative;
    height: 56px;
    width: 226px;
  }
  main .episodes {
    position: relative;
    width: auto;
    height: 1042.6px;
    padding: 274px 100px 100px 100px;
  }
  main .episodes .episodes-background {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 86%;
    position: absolute;
    background-color: blue;
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    z-index: -2;
  }
  main .episodes .episodes-container {
    height: 80%;
    width: 100%;
    z-index: 3;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  main .de-deonde-venimos {
    display: -ms-grid;
    display: grid;
    background-color: #123;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0 200px;
    width: 100%;
    height: 300px;
  }
  main .de-deonde-venimos .c1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .de-deonde-venimos .c1 img {
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
  }
  main .de-deonde-venimos .c2 {
    padding-top: 30%;
  }
}
/*# sourceMappingURL=style.css.map */